{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h2>Welcome Home</h2>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad voluptatum nihil asperiores tempora a sequi dignissimos consectetur pariatur aliquid iusto perspiciatis eum, unde quae ipsa illum obcaecati laborum eius natus!
    </p>
    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, nulla! Quod iusto vel, quas voluptatibus saepe neque, voluptatem iste quo non expedita consectetur assumenda quisquam, nesciunt recusandae. Deleniti, dignissimos praesentium?
    </p>
{% endblock content %}