{% extends "base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
<h2>About Page</h2>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, officia enim quia voluptas repellat tempore iusto vero architecto neque labore delectus veritatis fugiat laborum doloremque blanditiis nobis recusandae aut itaque?
</p>
<p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur doloremque impedit illo rem officia! Doloribus, explicabo itaque, inventore accusantium qui commodi, nisi voluptatibus totam delectus sequi ex natus sed iure.
</p>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequuntur voluptate perferendis eaque doloribus molestias in hic, deserunt enim ipsum dolore, alias eligendi ipsam a maxime. Harum quae dolor quam et?
</p>

<a href="{% url "home" %}">Go to Home Page</a>
{% endblock content %}


